*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.logo{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -300px;
    margin-left: 100px;
    margin-top: -20px;
    clear: both;
    position: absolute;
}

header{
    padding: 30px;
    background-color: black;
}

header nav{
    padding-top: 20px;
}

header li a{
    clear: both;
    color: white;
    padding: 8px 8px;
    position: relative;
    padding-left: 30px;
    
}

header li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 2s;
}

header li a:hover::before{
    width:100%;
}

.linkebi{
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
}

.firstp {
    margin-top: 52px;
    margin-left: 110px;
    font-size: 24px;
}

.shvili{
    width: 300px;
    height: 271px;
    border: solid;
    margin-left: 110px;
    margin-top: 50px;
    position: relative; 
    transition: box-shadow 2s, border 2s ;
}
.shvili:hover{
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}

.soundsurati{
    background-image: url(../img/sound.png);
    width: 280px;
    height: 65px;
    background-repeat: repeat-x;
    background-size: 25%;
    margin-left: 10px;
    margin-top: 50px;
}

.sat1{
    margin-top: 23px;
    margin-left: 10px;
}

.sat2{
    margin-top: 13px;
    margin-left: 10px;
}

.guli{
    background-image: url(../img/like.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size:100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-image 2s;
}

.kvedatxt{
    margin-top: 9px;
    margin-left: 110px;
}

.firstrow{
    display: flex;
    justify-content: flex-start;
}

.guli:hover{
    background-image: url(../img/feradiguli.png);
}

.kvedatxt:hover{
    text-decoration: underline;
}

/* playlist css */

.firstline{
    display: flex;
    justify-content: flex-start;
}

.ragaca:hover{
    background-color:rgb(173, 173, 173) ;
    box-shadow: 0px 0px 20px rgb(173, 173, 173) ;
}

.pirvelip{
    margin-top:52px ;
    margin-left:150px;
    font-size: 24px;
}

.simgerebi{
    margin-top:52px ;
    margin-left:150px;
    font-size: 18px;
}

.suratebi{
    background-image: url(../img/sound.png);
    width: 294px;
    height: 65px;
    background-repeat: repeat-x;
    background-size:25%;
    margin-left: 730px;
    position: relative;
    margin:46px auto ;
}

.meore{
    margin: 138px auto;
}

.otxiplaylist{
    display: flex;
    justify-content: flex-start;
}

.lasttext{
    font-size: 36px;
    text-align: center;
    margin-bottom: 140px;
}

/* social */

.social{
    width: 50px;
    height: 100px;
    position: fixed;
    top:50vh;
    right: 0;
    margin-top: -25px;
}

.fb{
    width: 50px;
    height: 50px;
    display:block;
}

.insta{
    width:50px;
    height: 50px;
    display:block;
}

.fb{
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fb:hover{
    background-image: url(../img/feradifb.png);
}

.insta{
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.insta:hover{
    background-image:url(../img/feradiinsta.png) ;
}

/* footer */

.kvedalogo{
    width: 150px;
    height: 150px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 24px auto;
}

footer{
    width: 100%;
    height: 354px;
    background-color: black;
    margin-top: 100px;
    position: absolute;
}

footer li{
    color: white;
}

footer p {
    text-align: center;
    color: white;
    clear: both;
    margin-top: 50px;
}

.bottomlinks{
    display: flex;
    flex-direction: column;
    text-align: center;
}
